In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
pd.options.display.max_rows = 999

# Base de dados: Manchas de óleo.

In [2]:
oilstory_df = pd.read_csv('oilstory.csv')

In [3]:
oilstory_df.head()

         Localidade Município Estado Avistamento
0        Praia Bela   Pitimbu     PB        30/8
1  Praia de Tambaba   Pitimbu     PB        30/8
2     Praia de Acau   Pitimbu     PB        30/8
3  Praia de Gramame     Conde     PB        30/8
4   Praia de Jacumã     Conde     PB        30/8

## Renomear colunas

In [4]:
oilstory_df.columns = ['localidade', 'municipio', 'estado', 'avistamento']

## Modificar data para formato correto

In [5]:
oilstory_df['data_avistamento'] = oilstory_df.avistamento\
                                    .apply(lambda x: datetime.
                                           strptime(
                                               x.strip()+'/2019','%d/%m/%Y'
                                           )
                                          )

## Remover coluna duplicada

In [6]:
oilstory_df.drop(columns='avistamento', inplace=True)

In [7]:
oilstory_df.head()

         localidade municipio estado data_avistamento
0        Praia Bela   Pitimbu     PB       2019-08-30
1  Praia de Tambaba   Pitimbu     PB       2019-08-30
2     Praia de Acau   Pitimbu     PB       2019-08-30
3  Praia de Gramame     Conde     PB       2019-08-30
4   Praia de Jacumã     Conde     PB       2019-08-30

## Modifcar nome do múnicipio para primeira letra de cada palavra ser maiúscula

In [8]:
oilstory_df['municipio'] = oilstory_df.municipio.str.title()

In [9]:
oilstory_df.head()

         localidade municipio estado data_avistamento
0        Praia Bela   Pitimbu     PB       2019-08-30
1  Praia de Tambaba   Pitimbu     PB       2019-08-30
2     Praia de Acau   Pitimbu     PB       2019-08-30
3  Praia de Gramame     Conde     PB       2019-08-30
4   Praia de Jacumã     Conde     PB       2019-08-30

## Criar campo único para refêrencia

In [10]:
oilstory_df['municipio_estado'] = oilstory_df.municipio+'/'+oilstory_df.estado

In [11]:
oilstory_df.head()

         localidade municipio estado data_avistamento municipio_estado
0        Praia Bela   Pitimbu     PB       2019-08-30       Pitimbu/PB
1  Praia de Tambaba   Pitimbu     PB       2019-08-30       Pitimbu/PB
2     Praia de Acau   Pitimbu     PB       2019-08-30       Pitimbu/PB
3  Praia de Gramame     Conde     PB       2019-08-30         Conde/PB
4   Praia de Jacumã     Conde     PB       2019-08-30         Conde/PB

# Base de dados: Cidades Brasileiras

In [12]:
brazil_cities = pd.read_csv('BRAZIL_CITIES.csv',sep=';')

In [13]:
brazil_cities.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0

## Definir colunas a serem utilizadas

In [14]:
brazil_cities_mod = brazil_cities[['CITY', 'STATE','POP_GDP', 'RURAL_URBAN', 'LONG', 'LAT', 'GDP',
                                   'GDP_CAPITA','COMP_A', 'COMP_B', 'COMP_C', 'COMP_D', 'COMP_E', 
                                   'COMP_F', 'COMP_G', 'COMP_H', 'COMP_I','COMP_J','COMP_K','COMP_L',
                                   'COMP_M','COMP_N','COMP_O','COMP_P','COMP_Q','COMP_R','COMP_S',
                                   'COMP_T','COMP_U','HOTELS']].copy()

In [15]:
brazil_cities_mod.head()

,CITY,STATE,POP_GDP,RURAL_URBAN,LONG,LAT,GDP,GDP_CAPITA,COMP_A,COMP_B,...,COMP_M,COMP_N,COMP_O,COMP_P,COMP_Q,COMP_R,COMP_S,COMP_T,COMP_U,HOTELS
0,Abadia De Goiás,GO,8053.0,Urbano,-49.440548,-16.758812,166.41,20664.57,5.0,1.0,...,10.0,12.0,4.0,6.0,6.0,1.0,5.0,0.0,0.0,NaN
1,Abadia Dos Dourados,MG,7037.0,Rural Adjacente,-47.396832,-18.487565,180.09,25591.70,6.0,6.0,...,15.0,29.0,2.0,9.0,14.0,6.0,19.0,0.0,0.0,NaN
2,Abadiânia,GO,18427.0,Rural Adjacente,-48.718812,-16.182672,287984.49,15628.40,5.0,9.0,...,7.0,15.0,3.0,11.0,5.0,1.0,8.0,0.0,0.0,1.0
3,Abaeté,MG,23574.0,Urbano,-45.446191,-19.155848,430235.36,18250.42,18.0,1.0,...,28.0,27.0,2.0,15.0,19.0,9.0,27.0,0.0,0.0,NaN
4,Abaetetuba,PA,151934.0,Urbano,-48.884404,-1.723470,1249255.29,8222.36,4.0,2.0,...,22.0,16.0,2.0,155.0,33.0,15.0,56.0,0.0,0.0,NaN

## Criar campo único para referência

In [16]:
brazil_cities_mod['municipio_estado'] = brazil_cities_mod.CITY+'/'+brazil_cities_mod.STATE

## Separar apenas as cidades afetadas

In [17]:
vector = brazil_cities_mod.municipio_estado.isin(oilstory_df.municipio_estado.unique())

In [18]:
affected_cities =  brazil_cities_mod[vector]

In [19]:
affected_cities.head()

,CITY,STATE,POP_GDP,RURAL_URBAN,LONG,LAT,GDP,GDP_CAPITA,COMP_A,COMP_B,...,COMP_N,COMP_O,COMP_P,COMP_Q,COMP_R,COMP_S,COMP_T,COMP_U,HOTELS,municipio_estado
20,Acaraú,CE,61715.0,Rural Adjacente,-40.118241,-2.885311,580727.43,9409.83,41.0,1.0,...,14.0,2.0,71.0,17.0,6.0,18.0,0.0,0.0,NaN,Acaraú/CE
95,Alcântara,MA,21667.0,Rural Adjacente,-44.417013,-2.403277,117494.58,5422.74,3.0,0.0,...,4.0,2.0,3.0,2.0,2.0,58.0,0.0,0.0,1.0,Alcântara/MA
99,Alcobaça,BA,23331.0,Rural Adjacente,-39.194214,-17.518933,260134.12,11149.72,7.0,0.0,...,4.0,2.0,4.0,0.0,2.0,16.0,0.0,0.0,NaN,Alcobaça/BA
203,Amontada,CE,42508.0,Rural Adjacente,-39.828823,-3.364878,421576.03,9917.57,6.0,1.0,...,4.0,3.0,9.0,1.0,0.0,15.0,0.0,0.0,1.0,Amontada/CE
290,Aquiraz,CE,78438.0,Urbano,-38.389803,-3.906194,2144231.95,27336.65,17.0,5.0,...,122.0,6.0,19.0,14.0,15.0,47.0,0.0,0.0,2.0,Aquiraz/CE

## Comparativo entre duas tabelas

In [20]:
print('Base: Mancha de Óleo: Número de Cidades: {}'.format(len(oilstory_df.municipio_estado.unique())))
print('Base: Cidades Afetadas: Número de Cidades: {}'.format(affected_cities.shape[0]))

Base: Mancha de Óleo: Número de Cidades: 130
Base: Cidades Afetadas: Número de Cidades: 130

## Exportando dados modificados

In [21]:
oilstory_df.to_csv('oilstory_mod.csv')

In [22]:
affected_cities.to_csv('affected_cities.csv')